form{
       text-align: center;
}


td{
       text-align: center;
       
}

date{
       align: right;
}

table{
       width: 70%;
       margin-left: auto;
       margin-right: auto;
}

tr:nth-child(odd) {
       background-color: #EDE4F2;
   }
   
tr:nth-child(even) {
       background-color:#FDEAE7;
}

th{
       background-color: white;
       padding: 15px 15px 15px 15px;  

}
#pseudo{
       width:25%;
}

#msg{
       width:50%;
}

#date{
       width:25%;
}

h1{
       position: fixed;
       top: 25px;
}

td{
     padding: 15px 15px 15px 15px;  
}

@keyframes wheelHueColor {
       from, to { color: hsl(324, 70%, 45%); }
       10%      { color: hsl(360, 65%, 45%); }
       20%      { color: hsl( 36, 80%, 45%); }
       30%      { color: hsl( 72, 75%, 35%); }
       40%      { color: hsl(108, 65%, 35%); }
       50%      { color: hsl(144, 75%, 35%); }
       60%      { color: hsl(180, 75%, 35%); }
       70%      { color: hsl(216, 60%, 45%); }
       80%      { color: hsl(252, 65%, 50%); }
       90%      { color: hsl(288, 60%, 40%); }
   }
   
   h1 {
       color: hsl(324, 70%, 45%);
       animation: wheelHueColor 3s infinite;
   }

   input[type="text"]{
       cursor:pointer;
      }